<div class="contact-page">
  <div class="title-container">
    <h1>¡CONTÁCTANOS!</h1>
    <p>SERÁ UN PLACER ATENDERTE</p>
  </div>
  <div class="contact-cards">
    <div class="card">
      <h2>Paquetería</h2>
      <p>Martha Ramírez</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:centerpaq02&#64;flecha-amarilla.com">centerpaq02&#64;flecha-amarilla.com</a>
      </p>
      <p>Beatriz Armenta Vera</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:centerpaq03&#64;flecha-amarilla.com">centerpaq03&#64;flecha-amarilla.com</a>
      </p>
      <p>Ruth Rodríguez López</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:jefecenterpaq&#64;flecha-amarilla.com">jefecenterpaq&#64;flecha-amarilla.com</a>
      </p>
    </div>
    <div class="card">
      <h2>Envíos Primera Plus</h2>
      <p>Aldo Baruc Mora Valtierra</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:coordenviospplus&#64;flecha-amarilla.com">coordenviospplus&#64;flecha-amarilla.com</a>
      </p>
      <p>Diego Esau Estrada Medina</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:auxeppon&#64;flecha-amarilla.com">auxeppon&#64;flecha-amarilla.com</a>
      </p>
    </div>
    <div class="card">
      <h2>Primera Plus</h2>
      <p>Venta de Boletos y Tiempo Aire</p>
      <p>Departamento Fiscal</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:cfdiboletoprimeraplus&#64;flecha-amarilla.com">cfdiboletoprimeraplus&#64;flecha-amarilla.com</a>
      </p>
    </div>
    <div class="card">
      <h2>Consumo de alimentos</h2>
      <p>Teresa de Jesús Vargas Ojeda</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:tj.vargas&#64;flecha-amarilla.com">tj.vargas&#64;flecha-amarilla.com</a>
      </p>
      <p>Veronica Noemi Ibarra Rangel</p>
      <p><span class="email-icon"><i class="fas fa-envelope"></i></span> 
        <a href="mailto:vn.ibarra&#64;flecha-amarilla.com">vn.ibarra&#64;flecha-amarilla.com</a>
      </p>
    </div>
  </div>
</div>