<!-- navbar.component.html -->
<nav>
  <!-- Fondo oscuro (overlay) -->
  <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="logo">
    <img src="https://www.facturaelectronicagfa.mx/assets/img/logo.png" alt="Logo de la página" />
  </div>
  <ul [class.active]="menuOpen">
    <a routerLink="/" (click)="closeMenu()"><li>INICIO</li></a>
    <a routerLink="/aviso-privacidad" (click)="closeMenu()"><li>AVISO DE PRIVACIDAD</li></a>
    <a routerLink="/faq" (click)="closeMenu()"><li>PREGUNTAS FRECUENTES</li></a>
    <a routerLink="/contacto" (click)="closeMenu()"><li>CONTACTO</li></a>
    <a href="https://www.conectagfa.com.mx/#/es/principal" (click)="closeMenu()" target="_blank"><li>CONECTA GFA</li></a>
  </ul>
</nav>
