<!-- navbar.component.html -->
<nav>
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="logo">
    <img src="https://www.facturaelectronicagfa.mx/assets/img/logo.png" alt="Logo de la página" />
  </div>
  <ul [class.active]="menuOpen">
    <a routerLink="/"><li>INICIO</li></a>
    <a routerLink="/aviso-privacidad"><li>AVISO DE PRIVACIDAD</li></a>
    <a routerLink="/faq"><li>PREGUNTAS FRECUENTES</li></a>
    <a routerLink="/contacto"><li>CONTACTO</li></a>
    <a href="https://www.conectagfa.com.mx/#/es/principal" target="_blank"><li>CONECTA GFA</li></a>
  </ul>
</nav>
