nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffa000;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;

  .logo {
    img {
      height: 50px;
      margin: 10px 0px 0px 15px;
    }
  }

  .hamburger {
    display: none;
    margin-left: 40px;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: #fff;
      border-radius: 1px;
      transition: 0.3s;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 70px;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
        transition: color 0.3s;
        display: flex;
          align-items: center;

        li {
          padding: 0 18px;
          transition: background-color 0.3s ease, color 0.3s ease;

        }
        &:hover {
          background-color: #be79026e;
        }
      }
  }

  @media (max-width: 1150px) {
    .hamburger {
      display: flex;
    }

    .logo {
      margin: 0 auto; // Centra el logo
    }

    ul {
      position: fixed;
      top: 0;
      left: -100%;
      flex-direction: column;
      background-color: #ffa000;
      width: 250px;
      height: 100%;
      padding-top: 70px;
      transition: left 0.3s;

      &.active {
        left: 0;
      }

      li {
        padding: 15px 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}