<div class="main-container-inicio">
    <div class="content-container">
        <div class="content">
            <p class="tittle">¿NECESITAS FACTURA?</p>
            <p>Te informamos que la fecha límite para solicitar y/o poder generar la <span class="highlight">Factura Electrónica (CFDI)</span> de tu compra de boletos o servicios es:</p>
            <ul>
            <li>La factura se puede generar durante todo el mes de compra, hasta <span class="highlight">72 hrs. posterior al cierre de mes de compra.</span></li>
            <li>Si tu compra se realiza el último día del mes, solo tendrás hasta el día 3 del mes siguiente para solicitar tu factura.</li>
            <li>Los boletos abiertos solo se facturan en el mismo mes de la compra aplicando las mismas consideraciones anteriores.</li>
            <li>Todas la facturas solicitadas son emitidas con la fecha en que se generan en el portal y/o sistema.</li>
            <li>Si tus boletos pertenecen a meses distintos, se emitirán dos facturas agrupando los boletos por mes de compra.</li>
            </ul>
        </div>
        <div class="button-container">
            <button class="fact" routerLink="/facturar">FACTURACIÓN</button>
            <button class="cfdi" routerLink="/facturar">RECUPERAR CFDI</button>
        </div>
    </div>
</div>
