
<div class="main-container-inicio">
    <div class="content-container">
        <div class="content">
            <p class="tittle">¿NECESITAS FACTURA?</p>
            <p>Te informamos que la fecha límite para solicitar y/o poder generar la <span class="highlight">Factura Electrónica (CFDI)</span> de tu compra de boletos o servicios es:</p>
            <ul>
            <li>La factura se puede generar durante todo el mes de compra, hasta <span class="highlight">72 hrs. posterior al cierre de mes de compra.</span></li>
            <li>Si tu compra se realiza el último día del mes, solo tendrás hasta el día 3 del mes siguiente para solicitar tu factura.</li>
            <li>Los boletos abiertos solo se facturan en el mismo mes de la compra aplicando las mismas consideraciones anteriores.</li>
            <li>Todas la facturas solicitadas son emitidas con la fecha en que se generan en el portal y/o sistema.</li>
            <li>Si tus boletos pertenecen a meses distintos, se emitirán dos facturas agrupando los boletos por mes de compra.</li>
            </ul>
        </div>
        <div class="button-container">
            <button class="fact" routerLink="/facturar">FACTURACIÓN</button>
            <button class="cfdi" routerLink="/facturar">RECUPERAR CFDI</button>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal">
    <div class="modal-header">
      <h2>CFDI 4.0</h2>
      <h3>FACTURA ELECTRÓNICA</h3>
    </div>
    <div class="modal-body">
      <p class="intro"><strong>¿Cómo registro el nombre en la factura electrónica?</strong></p>
      <p>El nombre del emisor y receptor se debe registrar en MAYÚSCULAS y de la siguiente manera:</p>
      <div class="columns">
        <div class="column">
          <div class="card">
            <h4>Tratándose de personas físicas</h4>
            <p>El nombre, primer apellido, segundo apellido</p>
            <p><strong>Ejemplo:</strong></p>
            <p class="example">RAFAELI CAMPOSORIO RUÍZO</p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h4>Tratándose de personas morales</h4>
            <p>Denominación o razón social registrados en el RFC</p>
            <p><strong>Ejemplo:</strong></p>
            <p class="example">LA VILLA ESP0</p>
          </div>
        </div>
      </div>
      <p>Debe registrarse tal y como se encuentra en la Cédula de Identificación Fiscal y Constancia de Situación Fiscal, respetando números, espacios y signos de puntuación. Para personas morales deberá registrarse la denominación o razón social, sin considerar el concepto de sociedad mercantil (ej. "S.A. DE C.V.")</p>
      <p>Este dato podrá ser consultado en la Constancia de Situación Fiscal emitida por el SAT en:</p>
      <ul>
        <li><a href="https://www.sat.gob.mx/aplicacion/login/53027/genera-tu-constancia-de-situacion-fiscal" target="_blank">Genera tu constancia de situación fiscal</a></li>
        <li><a href="https://vwww.sat.gob.mx/aplicacion/login/28889/0bten-tu-cedula-de-identificacion-fiscal" target="_blank">Obtén tu cédula de identificación fiscal</a></li>
      </ul>
      <p class="warning">En caso de indicar un dato distinto al registrado en el SAT, su factura no podrá ser emitida.</p>
      <div class="button-container">
        <button (click)="closeModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

