.selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 24px;
    font-weight: 300;
    color: #444;
    margin-bottom: 1rem;
    padding: 20px 0px 0px 30px;
  }

  .full-width {
    width: 90%; // Asegura que el mat-form-field ocupe todo el ancho disponible
  }

  mat-form-field {
    width: 90%; // Ajusta el ancho del campo
    margin: 0 auto 20px auto; // Solo margen inferior
    border: none; // Elimina bordes adicionales

    mat-label {
      font-size: 1rem;
      color: #555;
      text-transform: uppercase; // Convierte el texto a mayúsculas
    }

    mat-select {
      font-size: 1rem;
      color: #333;
      text-transform: uppercase; // Convierte el texto a mayúsculas
      background: transparent; // Fondo transparente
      box-shadow: none; // Elimina sombras
    }

    mat-option {
      font-size: 1rem;
      line-height: 2rem;
      color: #333;
      text-transform: uppercase; // Convierte el texto a mayúsculas
    }

    .mat-mdc-form-field-outline {
      display: none; // Elimina el contorno del campo
    }

    .mat-mdc-form-field-outline-start,
    .mat-mdc-form-field-outline-end {
      border: none !important; // Elimina bordes adicionales
    }

    .mat-mdc-form-field-outline-gap {
      display: none; // Elimina el espacio del borde
    }

    .mat-mdc-form-field-flex {
      border: none; // Elimina todos los bordes
      border-bottom: 1px solid #000; // Solo borde inferior
      transition: border-color 0.2s;

      &:focus-within {
        border-color: #555; // Cambia el color del borde inferior al enfocar
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #555;

    select {
      width: 90%; // Ancho del select
      padding: 8px;
      font-size: 1rem;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      color: #333;
      border: none;
      border-bottom: 1px solid black;
      cursor: pointer;
      transition: border-color 0.2s, background-color 0.2s;

      &:focus {
        border-color: #9e9e9e; // Color del borde al enfocar
        background-color: #fff; // Fondo blanco al enfocar
        outline: none;
      }

      &:hover {
        border-color: #9e9e9e; // Color del borde al pasar el mouse
      }

      option {
        font-size: 1rem;
        line-height: 2rem; // Ajusta la altura de cada opción
        color: #333;
        background-color: #f0f0f0;
        padding: 5px;
        border: none;
      }

      option:hover {
        background-color: #e0e0e0; // Fondo al pasar el mouse sobre una opción
        color: #000; // Color del texto al pasar el mouse
      }

      option:focus {
        background-color: #d0d0d0; // Fondo al seleccionar una opción
        color: #000; // Color del texto al seleccionar
      }
    }
  }
}

.custom-button {
  background-color: #1976d2; // Cambia el color de fondo
  color: #fff; // Cambia el color del texto
  font-size: 16px; // Tamaño del texto
  padding: 10px 20px; // Espaciado interno
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Sombra

  &:hover {
    background-color: #1565c0; // Color de fondo al pasar el mouse
  }

  &:active {
    background-color: #0d47a1; // Color de fondo al hacer clic
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Sombra más pequeña
  }
}