footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;

  p {
    margin: 0 0 10px 0;
    color: #a2a2a2;
    font-size: 400;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-bottom: 20px;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #a2a2a2;
        font-size: 400;
        transition: color 0.3s;

        &:hover {
          color: #6b6b6b;
        }
      }
    }
  }

  @media (max-width: 768px) {
    p {
      font-size: 0.9rem;
    }

    ul {
      flex-direction: column;
      margin-bottom: 10px;

      li {
        margin: 10px 0;
      }
    }
  }

  @media (max-width: 480px) {
    p {
      font-size: 0.8rem;
    }

    ul {
      li {
        margin: 8px 0;
      }

      a {
        font-size: 0.9rem;
      }
    }
  }
}