.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 1350px;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: #dddcdc;
      z-index: -1;
      transform: translateY(-50%);
    }

    &.active .circle {
      border-color: #656565;
      color: #656565;
    }

    &.active p {
      color: #656565;
    }

    &.completed .circle {
      border-color: #1976d2;
      color: #1976d2;
    }

    &.completed p {
      color: #1976d2;
    }

    &.completed:not(:last-child)::after {
      background-color: #656565;
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      aspect-ratio: 1;
      border: 3px solid #ced1d6;
      color: #ced1d6;
      font-size: 1.4rem;
      font-weight: bold;
      border-radius: 50%;
      background-color: transparent;
      box-sizing: border-box;
      margin-right: 5px;
    }

    p {
      font-size: 0.9rem;
      font-weight: 700;
      color: #ced1d6;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .step:last-child .circle{
    border-color: #aaaaaa;
    color: #aaaaaa;
  }

  .step:last-child p{
    color: #aaaaaa;
  }

  @media (max-width: 768px) {
    width: 90%;
    padding: 10 15px;

    .step {
      flex-direction: column;
      align-items: center;

      .circle {
        margin-right: 0;
        margin-bottom: 10px;
        width: 45px;
        aspect-ratio: 1;
        font-size: 1.4rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 480px) {
    width: 95%;
    padding: 0 10px;

    .step {
      .circle {
        width: 45px;
        aspect-ratio: 1;
        font-size: 1.4rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .modal-buttons {
      display: flex;
      justify-content: space-around;

      button {
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:first-child {
          background-color: #ff4d4d;
          color: #fff;

          &:hover {
            background-color: #e63939;
          }
        }

        &:last-child {
          background-color: #dddcdc;
          color: #000;

          &:hover {
            background-color: #c4c4c4;
          }
        }
      }
    }
  }
}

.content-process {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 1350px;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70vh; // Altura predeterminada
  position: relative;
  transition: height 0.3s ease; // Transición suave al cambiar la altura
  transition: all 0.3s ease; // Transición suave para los cambios de estilo

  &.expanded {
    height: 127vh; // Altura expandida
    min-height: 100vh; // Establece una altura mínima para evitar que sea demasiado pequeño
  }

  &.accordion-expanded {
    height: 155vh; // Altura expandida
  }

  .btn-first,
  .btn-second {
    position: absolute;
    bottom: 20px; // Ajusta los botones a la parte inferior
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #1976d2;
    color: #fff;

    &:hover {
      background-color: #1976d2;
    }
  }

  .comp-datos {
    width: 100%;
    height: 100%;
  }
}

// Media queries para responsividad
@media (max-width: 768px) {
  .content-process {
    flex-direction: column; // Cambia a diseño en columna
    align-items: center;
    height: auto; // Ajusta la altura automáticamente

    .btn-first,
    .btn-second {
      width: 90%; // Botones ocupan el 90% del ancho
      font-size: 0.9rem; // Reduce el tamaño de fuente
      padding: 8px 20px; // Ajusta el padding
    }

    .comp-datos {
      width: 100%;
      height: auto; // Ajusta la altura automáticamente
      padding: 10px; // Agrega padding interno
    }
  }
}

@media (max-width: 480px) {
  .content-process {
    padding: 5px; // Reduce el padding en pantallas pequeñas

    .btn-first,
    .btn-second {
      width: 100%; // Botones ocupan todo el ancho disponible
      font-size: 0.8rem; // Reduce aún más el tamaño de fuente
      padding: 6px 15px; // Ajusta el padding
    }

    .comp-datos {
      padding: 5px; // Reduce el padding interno
    }
  }
}
